$dark-blue: #3e4854;
$light-grey: #f2f2f2;
$middle-grey: #bec2c7;
$body-font: #1d2631;
$pink: #d22856;
$green: #2aab6d;
$red: #f25b26;

$mobile-width-only: 'max-width: 767px';
$tablet-width: 'min-width: 768px';
$desktop-width: 'min-width: 1200px';
