.contest-form {
  padding-top: 50px;
  @media ($tablet-width) {
    padding-top: 90px;
  }

  &__wrapper {
    @include container;
    @media ($tablet-width) {
      display: flex;
      flex-direction: column;
    }
    @media ($desktop-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__field {
    padding: 0;
    border: 0;
    margin: 0;
    display: block;
    @media ($tablet-width) {
      padding: 52px 55px;
      border: 2px solid $middle-grey;
      margin-bottom: 55px;
    }
    @media ($desktop-width) {
      flex-basis: 100%;
      margin-bottom: 55px;
    }

    &--name {
      padding-bottom: 40px;
      @media ($tablet-width) {
        order: 1;
        padding: 0;
        border: 0;
      }
      @media ($desktop-width) {
        flex-basis: 46%;
        box-sizing: border-box;
        margin-right: 70px;
        padding-bottom: 0;
      }
    }

    &--achievements {
      padding-top: 35px;
      padding-bottom: 45px;
      @media ($mobile-width-only) {
        background-color: $light-grey;
      }
      @media ($tablet-width) {
        order: 4;
      }
    }

    &--contacts {
      padding-bottom: 50px;
      @media ($tablet-width) {
        order: 3;
      }
      @media ($desktop-width) {
        @include clearfix;
      }
    }

    &--app {
      padding-bottom: 40px;
      @media ($mobile-width-only) {
        background-color: $light-grey;
      }
      @media ($tablet-width) {
        order: 2;
      }
      @media ($desktop-width) {
        flex-basis: 46%;
        box-sizing: border-box;
      }
    }

    &--feedback {
      padding-bottom: 45px;
      @media ($tablet-width) {
        order: 5;
      }
    }
  }

  &__achievements-container {
    @media ($desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__name-container {
    @media ($desktop-width) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  &__element {}

  &__element--achievements {
    margin-left: 70px;
    margin-bottom: 50px;
    @media ($desktop-width) {
      flex-basis: 20%;
    }
  }

  &__descr {
    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    @media ($mobile-width-only) {
      margin: 0;
      padding-bottom: 50px;
    }
    @media ($tablet-width) {
      padding-bottom: 80px;
      font-size: 18px;
      line-height: 30px;
      order: 0;
    }
    @media ($desktop-width) {
      padding-bottom: 85px;
    }
  }

  &__label {
    display: block;
    margin-left: 23px;
    margin-right: 23px;
    margin-bottom: 5px;
    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    color: $pink;
    padding: 0;
  }

  &__input-field {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid $middle-grey;
    padding: 13px 22px;
    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-transform: none;
    text-align: left;
    color: $body-font;
  }

  &__submit-block {
    @media ($tablet-width) {
      @include clearfix;
      order: 6;
      flex-basis: 100%;
    }
  }

  &__submit {
    display: block;
    width: 300px;
    padding: 25px 47px;
    box-sizing: border-box;
    margin: 0 auto 40px;
    border: none;
    border-radius: 3px;
    background-color: $green;
    font-family: 'Open Sans Bold','Arial', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    @media ($tablet-width) {
      float: left;
    }
    @media ($mobile-width-only) {
      width: 280px;
    }
  }

  &__note {
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: $body-font;
    text-transform: uppercase;
    text-align: center;
    @media ($tablet-width) {
      float: right;
    }
  }

  &__star {
    color: $pink;
  }

  &__element--phone {
    @media ($desktop-width) {
      width: 373px;
      float: left;
    }
  }

  &__element--address {
    @media ($desktop-width) {
      width: 373px;
      float: right;
    }
  }

  &__legend {
    display: block;
    padding: 40px 12px 0;
    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: $pink;
    @media ($tablet-width) {
      display: block;
      padding-top: 0;
    }
    @media ($desktop-width) {
      display: block;
      padding-top: 0;
    }

    &--contacts {
      @media ($mobile-width-only) {
        display: none;
      }
    }
  }

  &__textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid $middle-grey;
    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: $dark-blue;
  }
}
