.download {
  color: #FFFFFF;

  @media ($tablet-width) {
    width: 300px;
  }

  @media ($desktop-width) {
    width: 300px;
  }

  &__btn {
    display: block;
    margin-top: 29px;
    margin-bottom: 35px;
    padding: 18px 33px;

    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border: 3px solid #FFFFFF;
    border-radius: 50px;

    @media ($tablet-width) {
      margin-bottom: 60px;
    }

    @media ($desktop-width) {
      font-size: 21px;
      padding: 18px 20px;
    }
  }

  &__links {
    @include no-list;
    display: block;
    margin: 30px;
    font-size: 0;
    width: 230px;
    margin-bottom: 20px;

    @media ($tablet-width) {
      margin-bottom: 40px;
    }

    @media ($desktop-width) {
      margin-bottom: 55px;
    }
  }

  &__icons {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 55px;
    font-size: 0;

    &--apple {
      background: url("../../img/logo-apple.svg") no-repeat 100% 200%;
    }

    &--android {
      background: url("../../img/logo-android.svg") no-repeat 50% 50%;
    }

    &--windows {
      background: url("../../img/logo-microsoft.svg") no-repeat 50% 50%;
    }
  }

  &__heading {
    display: none;
    margin: 0;

    @media ($tablet-width) {
      display: block;
      margin: 105px 40px 30px;
      font-family: "Open Sans Light", "Arial", sans-serif;
      font-weight: normal;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
    }

    @media ($desktop-width) {
      display: block;
      margin-top: 125px;
      margin-bottom: 60px;
      font-size: 50px;
      line-height: 60px;
      text-align: center;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: -5px;

    font-family: "Open Sans Light", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    @media ($tablet-width) {
      font-size: 18px;
    }
  }
}
