.features {
  outline: 2px dashed red;
  min-height: 1000px;
  @media ($tablet-width) {
    min-height: 1125px;
  }
  @media ($desktop-width) {
    min-height: 1360px;
  }

  &__wrapper {
    @include container;
  }

  &__slogan {
    font-size: 24px;
    line-height: 30px;
    padding-top: 45px;
    padding-bottom: 35px;
    text-align: center;
    @media ($tablet-width) {
      font-size: 40px;
      line-height: 48px;
    }
    @media ($desktop-width) {
      font-size: 50px;
      line-height: 60px;
    }
  }

  &__slogan-line {
    margin-bottom: 40px;
    @media ($tablet-width) {
      margin-bottom: 20px;
    }
    @media ($desktop-width) {
      margin-bottom: 14px;
    }
  }

  &__items {
    @include no-list;
    padding-top: 56px;
    outline: 1px dashed blue;
    list-style: none;
    @media ($tablet-width) {
      padding-left: 310px;
    }
    @media ($desktop-width) {
      padding-left: 0;
      display: table;
    }
  }

  &__item {
    outline: 1px dotted blue;
    margin-bottom: 45px;
    @media ($desktop-width) {
      display: table-cell;
      padding-top: 360px;
    }
  }

  &__item--last {
    outline: 1px dashed blue;
    margin-bottom: 320px;
    @media ($tablet-width) {
      margin-bottom: 0;
    }
    @media ($desktop-width) {
      margin-bottom: 0;
    }
  }

  &__effect {
    display: none;
    @media ($tablet-width) {
      display: block;
      height: 400px;
      padding-left: 310px;
    }
    @media ($desktop-width) {
      display: block;
      height: 480px;
      padding-left: 360px;
    }
  }
}
