.features {
  background-color: $light-grey;
  padding: 0 20px;
  padding-bottom: 80px;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 114%;
  background-size: 200px auto;

  @media ($tablet-width) {
    padding-bottom: 0;
    background-image: none;
  }

  @media ($desktop-width) {
    background-image: none;
  }

  &__wrapper {
    @include container;
  }

  &__items {
    @include no-list;
    padding-top: 56px;
    list-style: none;
    position: relative;

    @media ($tablet-width) {
      padding-left: 310px;
      padding-top: 28px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
        width: 267px;
        height: 485px;

        background-image: url("../../img/iphone-screen-mobile@1x.png");
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
    @media ($desktop-width) {
      &::before {
        content: none;
      }
      padding-left: 0;
      display: table;
    }
  }

  &__item {
    margin-bottom: 45px;
    text-align: center;
    position: relative;
    width: auto;

    @media ($tablet-width) {
      text-align: left;
    }

    @media ($desktop-width) {
      width: 320px;
      text-align: center;
      display: table-cell;
      padding: 0 30px;
      padding-top: 260px;

      &::before {
        content: "";
        position: absolute;
        left: 65px;
        bottom: 320px;
        width: 186px;
        height: 300px;
        z-index: 10;

        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
      }
    }
    &:nth-child(1) {
      @media ($desktop-width) {
        &::before {
          background-image: url("../../img/iphone-screen-mobile@1x.png");
        }
      }
    }
    &:nth-child(2) {
      @media ($desktop-width) {
        &::before {
          background-image: url("../../img/iphone-screen-mobile@1x.png");
        }
      }
    }
    &:nth-child(3) {
      margin-bottom: 320px;

      @media ($tablet-width) {
        margin-bottom: 0;
        padding-bottom: 45px;
      }

      @media ($desktop-width) {
        margin-bottom: 0;

        &::before {
          background-image: url("../../img/iphone-screen-mobile@1x.png");
        }
      }
    }
  }


  &__name {
    font-family: 'Open Sans Bold','Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    @media ($tablet-width) {
      line-height: 10px;
    }

    @media ($desktop-width) {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
    }
  }

  &__descr {
    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    @media ($desktop-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__slogan {
  position: relative;
  padding-top: 50px;
  padding-bottom: 29px;

  font-family: 'Open Sans Light','Arial', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  @media ($tablet-width) {
    padding-top: 65px;
    padding-bottom: 85px;
    font-size: 40px;
    line-height: 48px;
  }
  @media ($desktop-width) {
    padding-top: 85px;
    padding-bottom: 104px;
    font-size: 50px;
    line-height: 60px;
  }

  &__line {
    margin: 0;
    margin-bottom: 40px;

    @media ($tablet-width) {
      margin-bottom: 0;
      &--second {
        padding: 0 50px;
      }
    }

    @media ($desktop-width) {
      &--second {
        padding: 0 150px;
      }
    }
  }
}

&__effect {
  display: none;

  @media ($tablet-width) {
    display: block;
    padding-top: 80px;
    padding-bottom: 70px;

    background-color: #FFFFFF;
  }

  @media ($desktop-width) {
    padding-top: 128px;
    padding-bottom: 118px;

    background-color: $light-grey;
  }

  &__content {
    padding-left: 310px;

    @media ($desktop-width) {
      padding-left: 370px;
    }
  }

  &__heading {
    font-family: 'Open Sans Bold','Arial', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }

  &__descr {
    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    @media ($desktop-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__link {
    color: $pink;
  }
}
}
