.intro {
  margin-top: -72px;
  padding: 0 20px;
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: $body-font;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  color: #FFFFFF;

  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
    background-size: cover;
    background-position: center top;
  }

  @media ($tablet-width) {
    margin-top: -110px;
    padding: 0;
    padding-top: 180px;
    padding-bottom: 70px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: center top;

    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx)  {
      background-image: url("../../img/bg-back-tablet@2x.jpg");
    }
  }
  @media ($desktop-width) {
    padding-bottom: 90px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: center top;

    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx)  {
      background-image: url("../../img/bg-back-desktop@2x.jpg");
    }
  }

  &--main {
    position: relative;
    padding-top: 456px;
    padding-bottom: 35px;
    background-image: url("../../img/iphone-hand-mobile@1x.png"), url("../../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center 175px, center top;

    @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../../img/iphone-hand-mobile@2x.png"), url("../../img/bg-back-mobile@2x.jpg");
      background-size: 290px, auto 460px;
      background-position: center 140px, center top;
    }

    @media ($tablet-width) {
      padding: 110px 0;

      background-image: url("../../img/iphone-hand-tablet@1x.png"), url("../../img/bg-back-tablet@1x.jpg");
      background-size: 700px, cover;
      background-position: 65% bottom, center top;

      @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../../img/iphone-hand-tablet@2x.png"), url("../../img/bg-back-tablet@2x.jpg");
      }
    }


    @media ($desktop-width) {
      padding-top: 110px;
      padding-bottom: 125px;

      background-image: url("../../img/iphone-hand-desktop@1x.png"), url("../../img/bg-back-desktop@1x.jpg");
      background-size: 1000px, cover;
      background-position: 65% bottom, center top;

      @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../../img/iphone-hand-desktop@2x.png"), url("../../img/bg-back-desktop@2x.jpg");
      }
    }
  }

  &__wrapper {
    @include container;
  }

  &__heading {
    margin: 0;
    font-family: 'Open Sans Light', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    @media ($tablet-width) {
      font-size: 40px;
      line-height: 48px;
    }
    @media ($desktop-width) {
      display: block;
      font-size: 50px;
      line-height: 60px;
    }
  }
}
