.main-nav {
  position: relative;
  float: right;
  width: 100%;

  @media ($desktop-width) {
    width: auto;
  }

  &__wrapper {
    &--opened {
      position: absolute;
      top: -72px;
      width: 100%;
      z-index: 9;

      padding-top: 78px;
      background-color: #283645;

      @media ($tablet-width) {
        top: -109px;
        left: -10%;
        padding-top: 108px;
        width: 120%;
      }
    }

    &--opened::before {
      content: '';
      position: absolute;
      top: 25px;
      left: 20px;

      width: 76px;
      height: 24px;

      background: url(../../img/logo-pink-white-mobile.svg) no-repeat;

      @media ($tablet-width) {
        left: 10.5%;
        width: 150px;
        height: 42px;
        background: url(../../img/logo-pink-white-mobile.svg) no-repeat;
      }

      @media ($desktop-width) {
        content: none;
      }
    }

    &--closed {
      display: none;
    }

    @media ($desktop-width) {
      position: static;
      display: block;
      background-color: transparent;
      padding-top: 0;
    }
  }

  &__toggle {
    position: absolute;
    top: -47px;
    right: 20px;
    z-index: 10;

    display: block;
    width: 50px;
    height: 25px;

    font-size: 0;
    cursor: pointer;
    background: url(../../img/icon-menu-burger.svg) no-repeat;

    @media ($tablet-width) {
      top: -72px;
    }

    @media ($desktop-width) {
      display: none;
    }
  }

  &__toggle--opened {
    right: 20px;
    width: 27px;
    height: 27px;
    background-image: url(../../img/icon-menu-cross.svg);
    background-repeat: no-repeat;

    @media ($tablet-width) {
      top: -72px;
    }
  }

  &__items {
    @include no-list;

    @media ($desktop-width) {
      display: flex;
    }
  }

  &__item {
    padding: 23px;

    font-family: 'Open Sans','Arial', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;

    box-shadow: inset 0 2px 0 0 #000101,
    inset 0 4px 0 0 #485461;

    @media ($desktop-width) {
      border: none;
      box-shadow: none;
      line-height: 18px;
    }
  }

  &__item:last-child {
    border-bottom: 2px solid #000101;
    @media ($desktop-width) {
      border: none;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;

    @media ($desktop-width) {
      text-transform: capitalize;
    }
  }
}
