.price {
  outline: 2px dashed blue;
  min-height: 446px;
  @media ($tablet-width) {
    min-height: 320px;
  }
  @media ($desktop-width) {
    min-height: 440px;
  }

  &__wrapper {
    @include container;
  }
}
