.price-table {
  border: none;
  border-collapse: collapse;
  transition: transform .8s ease;

  &__cell {
    min-width: 277px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0;
    border: 3px solid $middle-grey;
    background-color: #FFFFFF;

    @media ($tablet-width) {
      min-width: 120px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 23px;
    }

    @media ($desktop-width) {
      min-width: 200px;
    }

    &--feature {
      display: none;

      @media ($tablet-width) {
        display: table-cell;
        font-family: 'Open Sans Light','Arial', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
      }

      @media ($desktop-width) {
        font-size: 18px;
      }
    }

    &--yes {
      text-align: right;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 16px;
        right: 16px;
        width: 32px;
        height: 32px;

        background-image: url("../../img/icon-yes.svg");
        background-size: 100%;
        background-repeat: no-repeat;
      }

      @media ($tablet-width) {
        text-align: center;
      }
    }

    &--no {
      text-align: right;

      &:after {
        content: '';
        position: absolute;
        top: 16px;
        right: 16px;
        width: 30px;
        height: 30px;

        background-image: url("../../img/icon-no.svg");
        background-size: 100%;
        background-repeat: no-repeat;
      }

      @media ($tablet-width) {
        text-align: center;
      }
    }

    &--filter {
      position: relative;
    }

    &--filter::before {
      @media ($mobile-width-only) {
        content: attr(data-header);
        position: absolute;
        left: 15px;
        top: 17px;
        width: 250px;
        height: 30px;
        color: black;

        font-family: 'Open Sans Light', 'Arial', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        text-align: left;
      }
    }
  }

  &__header {
    width: 280px;
    min-height: 50px;
    background-color: $body-font;
    color: #FFFFFF;
    border: 2px solid $body-font;
    border-bottom: none;

    &--hit {
      position: relative;
    }

    &--hit::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 73px;
      z-index: 100;

      background-image: linear-gradient(-45deg, transparent 50%,#d22856 50%,#d22856 80%,transparent 80%);
    }
    &--hit::after {
      content: 'хит';
      position: absolute;
      top: 7px;
      left: 7px;
      width: 74px;
      height: 73px;
      z-index: 100;
      transform: rotate(-45deg);
    }

    &--tariff {
      padding-top: 25px;
      padding-bottom: 15px;

      font-family: 'Open Sans Bold','Arial', sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
    }

    &--price {
      padding-bottom: 25px;

      font-family: 'Open Sans Light','Arial', sans-serif;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
    }


    @media ($tablet-width) {
      min-width: 154px;
    }

    @media ($desktop-width) {
      min-width: 234px;
    }

    &--empty {
      display: none;

      @media ($tablet-width) {
        display: table-cell;
        border: 0;
        background-color: transparent;
      }

      @media ($desktop-width) {
        display: table-cell;
        border: none;
      }
    }
  }
}
