.price {
  position: relative;
  padding-top: 43px;
  padding-bottom: 110px;
  background-color: $light-grey;

  @media ($mobile-width-only) {
    margin-left: -560px;
  }

  &__wrapper {
    @include container;

    @media ($tablet-width) {
      @include container;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    margin: 0 9px;
    background-color: $middle-grey;
    border-radius: 50%;
    cursor: pointer;

    @media ($tablet-width) {
      display: none;
    }
  }

  &__controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    z-index: 100;
    text-align: center;
  }
}
