.reviews {
  outline: 2px dashed red;
  min-height: 375px;
  @media ($tablet-width) {
    min-height: 340px;
  }
  @media ($desktop-width) {
    min-height: 498px;
  }

  &__wrapper {
    @include container;
  }
}
