.social-links {
  @include no-list;
  width: 175px;
  font-size: 0;

  @media ($mobile-width-only) {
    margin: 0 auto 35px;
  }

  &__item {
    display: inline-block;
    vertical-align: baseline;
    width: 50px;
    height: 50px;
    margin-right: 11px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 45px;
    height: 45px;
    border: 3px solid $middle-grey;
    border-radius: 50%;

    &--fb,
    &--tw,
    &--yt {
      background-repeat: no-repeat;
      background-position: center;
    }

    &--tw {
      background-image: url("../../img/icon-twitter.svg");
    }

    &--fb {
      background-image: url("../../img/icon-facebook.svg");
    }

    &--yt {
      background-image: url("../../img/icon-youtube.svg");
    }
  }
}
