.social-links {
  outline: 1px dashed red;
  @include no-list;
  margin: 0 auto;
  width: 175px;
  margin-bottom: 35px;
  @media ($tablet-width) {
    float: left;
  }
  @media ($desktop-width) {
    float: left;
  }
}
