.user-interface {
  background-color: $light-grey;

  @media ($desktop-width) {
    background-color: white;
  }

  &__wrapper {
    @include container;
    @include clearfix;

    display: flex;
    flex-direction: column;

    @media ($tablet-width) {
      display: flex;
      flex-direction: row;
    }

    @media ($desktop-width) {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding: 55px 60px 50px 80px;
      background-color: $light-grey;
    }
  }

  &__image {
    display: block;
    width: 280px;
    margin: 0 auto 38px;
    font-size: 0;
    line-height: 0;

    @media ($tablet-width) {
      float: left;
    }

    @media ($desktop-width) {
      float: left;
    }
  }

  &__tools-icons {
    outline: 1px dashed red;
    display: block;
    width: 215px;
    margin: 0 auto 38px;
    font-size: 0;

    @media ($tablet-width) {
      width: 46px;
    }
  }

  &__inputs {
    outline: 1px dashed green;
    width: 281px;

    @media ($tablet-width) {}
    @media ($desktop-width) {}
  }

  &__tools {
    outline: 1px dashed green;
    @media ($tablet-width) {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
    }

    @media ($desktop-width) {}
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    margin-right: 40px;
    font-size: 0;

    &:last-child {
      margin-right: 0;
    }

    @media ($tablet-width) {
      display: block;
      margin-bottom: 25px;
    }

    @media ($desktop-width) {
      display: block;
    }
    background-repeat: no-repeat;
    background-size: cover;

    &--crop {
      width: 46px;
      height: 44px;
      background-image: url("../../img/icon-editor-crop.svg");
    }

    &--fill {
      width: 48px;
      height: 44px;
      background-image: url("../../img/icon-editor-fill.svg");
    }

    &--contrast {
      width: 32px;
      height: 33px;
      background-image: url("../../img/icon-editor-contrast.svg");
    }
  }

  &__input {
    display: none;
    margin: 0 auto 35px;

    &--selected {
      display: block;
      width: 280px;
    }

    @media ($tablet-width) {
      display: inline-block;
      width: 280px;
      margin-top: 20px;
    }
  }

  input[type="radio"] {
    display: none;
  }

  &__btn {
    outline: 1px dashed green;
    display: block;
    width: 280px;
    padding: 20px 70px;
    margin: 15px auto;
    border: 2px solid $pink;
    border-radius: 30px;
    background-color: transparent;
    font-family: 'Open Sans Bold','Arial', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    color: $pink;

    @media ($desktop-width) {
      display: inline-block;
      width: 180px;
      padding: 20px 30px;
      margin-left: 30px;
    }

    &--disabled {
      color: $middle-grey;
      border-color: $middle-grey;
    }
  }
}
