.users-gallery {

  &__wrapper {
    @include container;

    @media ($tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__panorama-wrapper {
    @include container;
  }

  &__descr {
    margin: 0;
    padding-top: 37px;
    padding-bottom: 53px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;

    @media ($tablet-width) {
      padding-top: 80px;
      padding-bottom: 70px;
      font-size: 18px;
    }

    @media ($desktop-width) {
      padding: 80px 150px 70px;
      font-size: 18px;
    }
  }

  &__container {
    font-size: 0;
  }

  &__promo {
    margin-top: 42px;
    margin-bottom: 41px;
    flex-grow: 3;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    @media ($tablet-width) {
      margin-top: 70px;
      margin-bottom: 70px;
      font-size: 18px;
      line-height: 30px;
    }

    @media ($desktop-width) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
}
